/* @font-face {
font-family: "Grota";
src: url("fonts/RAS_Grota.woff") format("woff");
} */
/*
@font-face {
font-family: "Land";
src: url("../fonts/RAS_Landmark.woff") format("woff");
} */

@font-face {
  font-family: "AG";
  src: url("../fonts/RAS_AG-B.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "AG";
  src: url("../fonts/RAS_AG-L.woff") format("woff");
  font-weight: light;
}

body{
  margin: 0;
  color: #acaf91;
}

#container{
  height: 100vh;
  width: 100vw;
  background: url("../img/RAS_couverture.png") no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

h1 {
  font-family: 'AG', Arial, sans-serif;
  font-size: 7vw;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000000;
}

.dud{
  font-weight: light;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

  h1 {
    font-family: 'AG', Arial, sans-serif;
    font-size: 33vw;
    font-weight: normal;
    text-align: center;
    /* text-shadow: none; */
  }

}
